<?xml version="1.0" encoding="UTF-8"?>

<suite thread-count="2" name="LoginTest" parallel="tests">

  <test thread-count="2" name="Win7 Browser Chrome" parallel="tests">
  	<parameters>
	  	<parameter name="myBrowser" value="chrome" />
	  	<parameter name="OS" value="Win7" />
	  	<parameter name="remoteURL" value="http://192.168.1.240:5566/wd/hub" />
  	</parameters>
	<classes>
		<class name="com.paralleltestapp.qa.testcases.LoginPageTests" />
	</classes>
  </test> <!-- Win7 Browser Chrome -->
  
  <test thread-count="2" name="Win10 Browser Firefox" parallel="tests">
  	
  	<parameters>
	  	<parameter name="myBrowser" value="firefox" />
	  	<parameter name="OS" value="Win10" />
	  	<parameter name="remoteURL" value="http://192.168.1.226:5569/wd/hub" />
  	</parameters>
	<classes>
		<class name="com.paralleltestapp.qa.testcases.LoginPageTests" />
	</classes>
  </test> <!-- Win10 Browser Firefox -->
  
  <test thread-count="2" name="Win10 Browser Chrome" parallel="tests">
  	<parameters>
	  	<parameter name="myBrowser" value="chrome" />
	  	<parameter name="OS" value="Win10" />
	  	<parameter name="remoteURL" value="http://192.168.1.226:5568/wd/hub" />
  	</parameters>
	<classes>
		<class name="com.paralleltestapp.qa.testcases.LoginPageTests" />
	</classes>
  </test> <!-- Win10 Browser Chrome -->
  
</suite> <!-- LoginTest -->
