<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite thread-count="2" name="LoginTest" parallel="tests">
  <test thread-count="2" name="ParallelTest1 Browser Chrome" parallel="tests">
  	<parameter name="myBrowser" value="chrome" />
  		<classes>
  			<class name="com.paralleltestapp.qa.testcases.ParallelTest" />
  		</classes>
  </test> <!-- ParallelTest1 Browser Chrome -->
  
  
</suite> <!-- LoginTest -->
