<?xml version="1.0" encoding="UTF-8"?>

<suite thread-count="2" name="LoginTest" parallel="tests">
  <test thread-count="2" name="ParallelTest1 Browser Chrome" parallel="tests">
  	<parameters>
	  	<parameter name="myBrowser" value="chrome" />
	  	<parameter name="OS" value="Win7" />
  	</parameters>
	<classes>
		<class name="com.paralleltestapp.qa.testcases.ParallelTest" />
	</classes>
  </test> <!-- ParallelTest1 Browser Chrome -->
  
  <test thread-count="2" name="ParallelTest1 Browser Firefox" parallel="tests">
  	
  	<parameters>
	  	<parameter name="myBrowser" value="firefox" />
	  	<parameter name="OS" value="Win10" />
  	</parameters>
	<classes>
		<class name="com.paralleltestapp.qa.testcases.ParallelTest" />
	</classes>
  </test> <!-- ParallelTest1 Browser Firefox -->
</suite> <!-- LoginTest -->
